@tailwind base;
@tailwind components;
@tailwind utilities;

.dark {
  --main-background: #042f2e;
  --details-background: #042f2e;
  --primary: #f59e0b;
  --button: #f59e0b;
  --secondary: #b9babb;
  --contrast: #FFFFFF;
  --card-overlay:  #000000b3;
}

.light {
  --main-background: #ffefe1;
  --details-background: #fffbf4;
  --primary: #ba6307;
  --button: #ff832b;
  --secondary: #cf7413;
  --contrast: #171717;
  --card-overlay:  #00000090;
}

html {
  scrollbar-color: #f88e43 #02242324;
  scrollbar-width: thin;
}

body {
  @apply overflow-hidden bg-mainBackground;
}

h2,
h3,
h4 {
  @apply text-xl font-bold  text-amber-500;
}

h2 {
  @apply text-2xl;
}

h4 {
  @apply text-primary;
}

button {
  @apply border-button border-2 rounded-md text-button py-1 px-3 cursor-pointer transition-colors hover:bg-button hover:text-teal-950;

  &:disabled {
    @apply opacity-50 cursor-default hover:text-button hover:bg-transparent;
  }
}
